/** Job Add CSS Page **/


/** Post Job Page */

.single-job-post {
    border-top: 2px solid #C8E6C9;
    background: #FFF;
    padding: 10px 15px;
}

.bs-wizard {
    padding: 0 0 10px 0;
    margin: 0px 0px 20px 0px;
}


/*Form Wizard*/


/*.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}*/

.bs-wizard>.bs-wizard-step {
    padding: 0;
    position: relative;
    width: 14.28%;
    float: left;
}

.bs-wizard>.bs-wizard-step+.bs-wizard-step {}

.bs-wizard>.bs-wizard-step {
    padding: 0;
    position: relative;
    width: 14.28%;
    float: left;
}

.bs-wizard-step.complete .bs-wizard-stepnum,
.bs-wizard-step.active .bs-wizard-stepnum {
    color: #5cb85c;
}

.bs-wizard>.bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 16px;
    margin-bottom: 5px;
}

.bs-wizard>.bs-wizard-step .bs-wizard-info {
    color: #2E6ABF;
    font-size: 13px;
    font-weight: 500;
}

.bs-wizard>.bs-wizard-step>.bs-wizard-dot {
    position: absolute;
    width: 22px;
    height: 22px;
    display: block;
    background: #2E6ABF;
    top: 45px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
}

.bs-wizard>.bs-wizard-step>.bs-wizard-dot:after {
    content: ' ';
    width: 14px;
    height: 14px;
    background: #FFF;
    border-radius: 50px;
    position: absolute;
    top: 4px;
    left: 4px;
}

.bs-wizard>.bs-wizard-step>.progress {
    position: relative;
    border-radius: 0px;
    height: 8px;
    box-shadow: none;
    margin: 20px 0;
}

.bs-wizard>.bs-wizard-step>.progress>.progress-bar {
    width: 0px;
    box-shadow: none;
    background: #e9ecef;
}

.bs-wizard>.bs-wizard-step.complete>.progress>.progress-bar {
    width: 100%;
}

.bs-wizard>.bs-wizard-step.active>.progress>.progress-bar {
    width: 50%;
}

.bs-wizard>.bs-wizard-step:first-child.active>.progress>.progress-bar {
    width: 0%;
}

.bs-wizard>.bs-wizard-step:last-child.active>.progress>.progress-bar {
    width: 100%;
}

.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot {
    background-color: #f5f5f5;
}

.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot:after {
    opacity: 0;
}

.bs-wizard>.bs-wizard-step:first-child>.progress {
    left: 50%;
    width: 50%;
}

.bs-wizard>.bs-wizard-step:last-child>.progress {
    width: 50%;
}

.bs-wizard>.bs-wizard-step.disabled a.bs-wizard-dot {
    pointer-events: none;
}


/**
 * Checkbox
 */

.radio {
    display: inline-block;
    padding: 0px 20px 0px 0px;
    font-size: 14px;
    cursor: pointer;
    font-weight: normal;
}

.radio input {
    height: 1px;
    width: 1px;
    opacity: 0;
}

.radio input:checked+.outer .inner {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.radio input:checked+.outer {
    border: 2px solid #1976D2;
}

.radio input:focus+.outer .inner {
    /*-webkit-transform: scale(1);*/
    /*transform: scale(1);*/
    /*opacity: 1;*/
    /*background-color: #1976D2;*/
}

.radio .outer {
    height: 20px;
    width: 20px;
    display: block;
    float: left;
    margin: 0px 9px 10px 0px;
    border: 2px solid #616161;
    border-radius: 50%;
    background-color: #fff;
}

.radio .inner {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    height: 12px;
    width: 12px;
    -webkit-transform: scale(0);
    transform: scale(0);
    display: block;
    margin: 2px;
    border-radius: 50%;
    background-color: #1976D2;
    opacity: 0;
}


/*CHECKBOX*/

.md-checkbox {
    position: relative;
    height: 20px;
    margin: 10px 0;
}

.md-checkbox[disabled='disabled'] {
    opacity: .65;
    pointer-events: none;
}

.md-checkbox label {
    cursor: pointer;
    color: #666666;
    font-weight: normal;
    font-size: 14px;
}

.md-checkbox label:before,
.md-checkbox label:after {
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
}

.md-checkbox label:before {
    width: 18px;
    height: 18px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    cursor: pointer;
    transition: background .3s;
    top: 0px;
}

.md-checkbox input[type="checkbox"] {
    outline: 0;
    margin-right: 6px;
    margin-top: 0px;
}

.md-checkbox input[type="checkbox"]:checked+label:before {
    background: #337ab7;
    border: none;
}

.md-checkbox input[type="checkbox"]:checked+label:after {
    transform: rotate(-45deg);
    top: 4px;
    left: 4px;
    width: 10px;
    height: 6px;
    border: 2px solid #fff;
    border-top-style: none;
    border-right-style: none;
}

.form-group.has-error span.help-block.hidden {
    display: block !important;
    margin-bottom: 0;
}

.no-border {
    border: none;
}

.radio-list {
    border: 1px solid #E4E4E4;
    padding: 20px;
    border-radius: 4px;
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 5px;
}

.radio-list input[type="radio"]:checked {
    color: #1976D2;
}

.radio-list .radio {
    display: block;
    margin-top: 0px;
    overflow: hidden;
    margin-bottom: 3px;
}

.radio.active {
    color: #1976D2;
}

.checkbox-list {
    border: 2px solid #E4E4E4;
    padding: 20px;
    border-radius: 4px;
    height: 200px;
    overflow-y: scroll;
}

.checkbox-list .md-checkbox {
    margin-top: 0;
    margin-bottom: 15px;
}

.checkbox-list .md-checkbox label {
    color: #212121;
}

.checkbox-list .md-checkbox:last-child {
    margin-bottom: 0;
}

.checkbox-list input[type="checkbox"] {
    display: block;
    margin-top: 0px;
}

.icon-check-sign:before {
    content: "\f00c";
}

.form-control-s-1 {
    border: 1px solid #E4E4E4;
    box-shadow: none;
    border-radius: 4px;
    font-size: 14px;
    height: 40px;
    margin-bottom: 5px;
}

.form-control-s-1[readonly] {
    background-color: #ffffff;
    box-shadow: none;
    border: none;
    font-size: 15px;
    color: #000000;
    padding: 0;
    height: auto;
}

.btn {
    outline: none !important;
    border-radius: 3px;
    box-shadow: none !important;
}

.card-footer .btn {
    font-size: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16) !important;
    margin-right: 10px;
    font-weight: bold;
}

.card-footer .btn:last-child {
    margin-right: 0;
}

.btn i,
.btn i:hover,
.btn,
.btn:hover {
    transition-duration: 0s;
}

.btn-toggle-s-1 .btn,
.btn-toggle-s-1 .btn:hover,
.btn-toggle-s-1 .btn:focus {
    box-shadow: none;
    background-color: #ffffff;
    border: 1px solid #4c4c4c;
    color: #4c4c4c;
    font-size: 14px;
    padding: 8px 12px;
}

.btn-toggle-s-1 .btn:hover,
.btn-toggle-s-1 .btn:focus {
    border: 1px solid #4c4c4c;
}

.btn-toggle-s-1 .btn.active {
    background-color: #4c4c4c;
    color: #ffffff;
}

.btn-round {
    border-radius: 3px;
}

.btn-s-1 {
    background-color: #ffffff;
    color: #212121;
    border: 1px solid #E4E4E4;
    /* padding: 8px 15px; */
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 8px 8px;
}

.btn-s-1:last-child {
    margin-right: 0px;
}

.btn-s-1:hover {
    background-color: #f5f5f5;
}

.btn-s-1 i.toggle {
    display: none;
}

.btn-s-1.active {
    background-color: #2E6ABF;
    color: #ffffff;
    border: 2px solid #2E6ABF;
    font-size: 13px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16) !important;
}

.btn-s-1.active * {
    color: #ffffff;
}

.resume-receiving-fields .form-control-s-1 {
    margin-bottom: 15px;
}

.btn-s-1.active i.toggle {
    display: inline-block;
}

.btn-toggle-s-1 i.toggle {
    display: none;
}

.btn-toggle-s-1 .btn.active i.toggle {
    display: inline-block;
}

.btn-s-2 {
    background-color: #ffffff;
    color: #1976D2;
    border: 1px solid #CEE2ED;
    padding: 8px 12px;
}

.btn-s-2:hover {
    background-color: #f5f5f5;
}

.btn-s-3 {
    background-color: #e0e0e0;
    color: #757575;
    border: 2px solid #e0e0e0;
    padding: 8px 12px;
}

.hidden {
    display: none!important;
}


/*SWITCH*/

.switch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 64px;
    height: 27px;
    background-color: white;
    border-radius: 18px;
    cursor: pointer;
    display: block;
}

.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 13px;
    background: #eceeef;
    border-radius: inherit;
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    -webkit-transition-property: opacity background;
    -moz-transition-property: opacity background;
    -o-transition-property: opacity background;
    transition-property: opacity background;
}

.switch-label:before,
.switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}

.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #aaa;
}

.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: white;
    opacity: 0;
}

.switch-input:checked~.switch-label {
    background: #2E6ABF;
}

.switch-input:checked~.switch-label:before {
    opacity: 0;
}

.switch-input:checked~.switch-label:after {
    opacity: 1;
}

.switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}

.switch-handle:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: #f9f9f9;
    border-radius: 6px;
}

.switch-input:checked~.switch-handle {
    left: 40px;
}

.switch-green>.switch-input:checked~.switch-label {
    background: #4fb845;
}

.switch-s-2 {
    width: 74px;
}

.switch-s-2.disabled {
    opacity: .6;
}

.switch-s-2 .switch-input:checked~.switch-handle {
    left: 52px;
}

.job-post-title {
    color: #2E6ABF;
    font-size: 18px;
    font-weight: 500;
    background: #f1f1f1;
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid #2E6ABF;
}

.select2-container {
    width: auto!important;
    min-width: 300px!important;
}

.select2-container--default .select2-selection--single {
    height: 35px!important;
    border: 1px solid #e4e4e4;
}


/** Post Job Page */